@import "tailwindcss";

/* ============================================
   DESIGN TOKENS
   ============================================ */

@theme {

  /* Colors */
  --color-cream: #F4F0EB;
  --color-cream-dark: #EDEAE5;
  --color-cream-border: #E0DDD8;

  --color-forest: #2A4A2E;
  --color-forest-hover: #1D3520;

  --color-ink: #111111;
  --color-ink-muted: #888880;
  --color-ink-subtle: #BCBCB8;

  /* Typography */

  --font-serif: var(--font-serif), Georgia, serif;
  --font-sans: var(--font-dm-sans), system-ui, sans-serif;


  /* Spacing extras*/

  --spacing-section: 6rem;
}

/* ============================================
   BASE STYLES
   ============================================ */
@layer base {
  html {
    @apply scroll-smooth;
    overflow-x: hidden;
  }

  body {
    background-color: var(--color-cream);
    color: var(--color-ink);
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1, h2, h3, h4 {
    font-family: var(--font-serif);
    letter-spacing: -0.02em;
  }
}

